/* Fonts */
@font-face {
  font-family: 'BeautifulPeople';
  src: url('./fonts/BeautifulPeople.ttf');
}

@font-face {
  font-family: 'Painter';
  src: url('./fonts/Painter.ttf');
}

@font-face {
  font-family: 'Tomatoes';
  src: url('./fonts/Tomatoes.ttf');
}

@font-face {
  font-family: 'BacktoBlackBold';
  src: url('./fonts/BacktoBlackBold.ttf');
}

a {
  color: white;
  text-decoration: none;
}

/* Base */
.App-background {
  background-image: url('./night.gif');
  background-position: top;
  background-size: cover;
  height: 200vmin
}

.App-name {
  font-family: 'BeautifulPeople';
  font-size: 4em;
  margin-bottom: 0px;
  margin-top: 1em;
  text-align: center;
  color: white;
}

.App-slogan {
  font-family: 'Painter';
  font-size: 1.4em;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
}

/* Nav */
.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 6em;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 10px;
  text-decoration: none;
}

/* SHIFT */
.nav a {
  position: relative;
  z-index: 1;
}
.nav a:hover {
  color: black;
}
.nav a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 100%;
  content: '.';
  color: transparent;
  background: turquoise;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.nav a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/* Picture Container */
.App-pics-list {
  display: grid;
  grid-template-columns: 20vw 70vw 15vw;
  grid-template-areas: "l m r";
  padding-top: 1vh;
}

.pictures-list {
  display: flex;
  flex-wrap: wrap;
  grid-area: m;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.picture-list-item {
  position: relative;
  margin: 1vmin;
  background-color: white;
  text-align: center;
  border-radius: 40px;
  margin-top: 40px;
  margin-right: 40px;
  width: 250px;
  height: 40vh;
}

.picture-list-item img {
  width: 100%;
  height: 100%;
  border-color: black;
  border-style: solid;
}

.picture-list-item:hover .overlay {
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 102%;
  width: 102%;
  opacity: 0;
  transition: .5s ease;
  background-color: black
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Tomatoes'
}


/* Picture Details */

.App-pic {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas: "l r";
  padding-top: 1vh;
}

.picture-detail-item {
  display: flex;
  grid-area: l;
  width: 100%;
  margin-left: 50px;
  margin-top: 30px;
}

.picture-detail-item img {
  width: 85%;
  height: 85%;
  border-color: black;
  border-style: solid;
}

.picture-detail-artist {
  color: yellow;
  grid-area: r;
  width: 100%;
  text-align: center;
  margin-top: 200px
}


.FileUpload {
  text-align: center;
  padding: 40px;
}

.dropzone {
  width : 270px;
  height : 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: groove;
  border-radius: 5px;
  margin: auto;
  padding: 50px;
  background-image: url('./no-ragrets.gif');
  background-size: cover;
  background-position: bottom;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  color: white;

}

input {
    width: 20%;
    padding: 5px 8px;
    margin: 30px 10px;
    box-sizing: border-box;
    outline: none;
    height: 100%;
}

input[type="submit"]{
  width: 65px;
  background: black;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  text-shadow:none;
  outline: none;


}

input[type="submit"]:hover {
  background: #016ABC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  text-shadow: none;
  outline: none;
}

#uploaded {
  width: 20vw;
  min-height: 30vw;
  text-align: center;
  margin: 0px 40vw;
  color: white;
}

.previewImage {
  width: 100%;
  height: 100%;

}

.loadingUpload {
  width : 150px;
  height : 170px;
  margin: auto;
  padding: 50px;

}

/* LoginForm */

.loginform {
  text-align: center;
  padding-top: 50px;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
